<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Hello</h1>
<p th:text="${#authorization.expression('isAuthenticated')}"></p>
<h2>This is index.html!</h2>
<div th:if="${studentList != null }">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="s : ${studentList}">
            <td th:text="${s.name}">Frank</td>
            <td th:text="${s.id}">Frank</td>
            <!--            <td><button th:formmethod="post" th:formaction="@{'/deleteStudentById/' + ${s.id}}" ></td>-->
            <td>  <form th:action="@{'/deleteStudentById/' + ${s.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Delete</button>
            </form>
                <!--                <button th:formmethod="delete" th:formaction="@{'/deleteStudentById/' + ${s.id}}">Delete</button>-->
            </td>
        </tr>
    </table>
</div>
<br><hr><br>
<form method="post"
      th:action="@{/insertStudent}"
      th:object="${student}">
    <input type="hidden" name="id"
           th:field="*{id}">
    Name: <input type="text" name="name"
                 th:field="*{name}"><br>
    <input type="submit" value="Save Student!">
</form>


</body>
</html>